html {
  background-color: lightblue;
}

.reset {
  float: left;
  position:absolute;
  left:765px;
  top:30px;
}

.grid {
  float: left;
  position:absolute;
  left:825px;
  top:30px;
}

.normal {
  float: left;
  position:absolute;
  left:895px;
  top:30px;
  margin: 0px 10px 0px 10px;

}

.title {
  float: left;
  position:absolute;
  left:550px;
  top:0px;
}

.container {
  background-color:white;
}

.box:hover {
  background-color:#696969;
}

.sketch {
  background-color:black;
}
